<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div id="error_explanation" class = "alert alert-danger" role="alert" data-turbo-cache="false">
      <li><%= message %></li>
    </div>
  <% end %>
<% end %>
