<div class = "div_for_about">
    <h4><%=t("about_us")%></h4>
    <br/>
    <p>"Привет! Меня зовут имя создателя. Я создал этот сайт, чтобы делиться интересными постами на различные темы. Здесь вы найдете информацию о путешествиях, культуре, искусстве, кулинарии и многом другом. Моя цель - вдохновлять людей и делать их жизнь ярче и насыщеннее. Если у вас есть вопросы или предложения, свяжитесь со мной по телеграму: @fiixii. Буду рад общению и новым знакомствам! Спасибо, что посетили мою страничку."
    </p>
</div>
