.btn-en {
    background-image: url(/ru.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.btn-ru {
    background-image: url(/en.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.btn-ru, .btn-en {
    height: 2em;
    background-color: unset !important;
    &:hover, &:focus, &:active {
        border-color: rgba(0,0,0,0);
    }
    border : 0;
}