.div_for_about {
    background-color: rgba(255,255,255,0.7);
    margin: 0 auto;
    padding: 1%;
    width : 95%;
    border-radius: 2em;
}

.div_for_about h4 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #343442;
    text-align : center;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    white-space: normal;
}

.div_for_about p {
    font-size: 1.5em;
    font-family: sans-serif;
    margin : 20px;
}