.sign-up-div {
    margin: 0 auto;
    
}

.sign-up-div input {
    width : 100%;
}

.sign-up-div-check-box {
    margin: 0 auto;

}

.sign-up-div-check-box input {
    margin: 0 auto;
    margin-left : 40%;
}